@tailwind base;
@tailwind components;
@tailwind utilities;

.translate-z-0 {
  transform: translateZ(0px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #0dc6ab;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #0dc6ab;
}

.content-container {
  /* transform: scale(0.8);
  /* /* transform-origin: top; */
  /* transform-origin: 50% 50%;
  height: 100%; */
  /* zoom: 0.8; */
  /* 
  height: screen;
  overflow: hidden; */
}

/* body {
  zoom: 0.8; /* Restablecer el zoom a 1 para evitar efectos no deseados */

.zoom-effect {
  zoom: 80%; /* Establecer el zoom deseado (en este caso, 80%) */
  transform-origin: center; /* Asegurarse de que el origen de la transformación sea el centro */
  width: 100vw; /* El ancho se ajusta al 100% del ancho de la ventana */
  height: 100vh; /* La altura se ajusta al 100% de la altura de la ventana */
}
/* body {
  zoom: 0.8 !important;
} */
/* html,
body {
  transform: scale(0.8);
  transform-origin: top;
} */

@layer base {
  body {
    @apply bg-secondary  scrollbar-none leading-relaxed min-h-screen;
  }
  .page {
    @apply w-full min-h-screen overflow-hidden;
  }
  .h1 {
    @apply text-[30px] xl:text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold;
  }
  .h2 {
    @apply text-[25px] xl:text-[35px] leading-tight md:text-[54px] md:leading-[1.3] mb-4 font-semibold;
  }
  p {
    @apply leading-[1.8] text-white/60 font-light xl:text-base text-sm;
  }
  .btn,
  .input {
    @apply h-[52px];
  }
  .input {
    @apply w-full h-[52px] rounded-lg pl-6 capitalize;
  }
  .input,
  .textarea {
    @apply bg-transparent outline-none focus:ring-1 focus:ring-accent border border-white/20 placeholder:text-white/30 placeholder:font-light;
  }
  .textarea {
    @apply w-full h-[180px] p-6 capitalize rounded-lg resize-none;
  }
}
